{% extends "app.html" %}

{% block content %}
  <p>Specify the URL to be shortened and the link expiration date in seconds.</p>
  <form action="" method="POST">
    <label for="url">Url:</label>
    <input type="text" placeholder="https://google.com" name="url" id="url">
    <label for="date">Seconds:</label>
    <input type="number" value="20" name="date" id="date">
    <button type="submit">Make Short!</button>
  </form>
  {% if errors|length > 0 %}
    <ul id="errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}